subject = "Contact form notification"
==
<p>Hello,

<br>this is a notification that a message has been sent from the Contact Form.</p>

<p>Form data:</p>

{% if fieldsDetails|length %}

    {% partial 'panel' body %}

        {% for field in fieldsDetails %}

        <p>
            <strong><small>{{ field.label }}</strong></small>
            <br>
            <small>{{ field.value|raw|nl2br }}<small>
        </p>

        {% endfor %}

		{% if uploads|length %}

			<p>
				<strong><small>Uploaded files</strong></small>
				<br>

				{% for upload in uploads %}

					<small><a href="{{ upload.getPath }}" target="_blank">Upload {{ loop.index }}</a></small>

					{{ loop.last is empty ? '<br>' }}

				{% endfor %}

			</p>


		{% endif %}

    {% endpartial %}

{% endif %}

	{% partial 'panel' body %}

        <p>
            <strong><small>Page URL</strong></small>
            <br>
            <small>{{ url }}<small>
        </p>

        <p>
            <strong><small>Form alias</strong></small>
            <br>
            <small>{{ form_alias }}<small>
        </p>

	{% endpartial %}

<br>

<p>Best regards,<br>

Contact Form</p>
